*.cover
*.egg
*.egg-info/
*.env
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.direnv
.dockerignore
.git
.pytest_cache/
.python-version
.tox
.venv
Dockerfile
Makefile
README.md
__pycache__
circle.yml
coverage.xml
build/
db.sqlite3
develop-eggs/
dist/
docker-compose.yml
docs/
eggs/
lib/
lib64/
local_settings.py
pip-delete-this-directory.txt
pip-log.txt
venv/
